<!DOCTYPE html>
<html>
<head>
  <title>Mychan</title>
 	<%= javascript_include_merged :base %>
	<%= stylesheet_link_merged :base %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="wrapper">
		
	<div class="left-column">
		<br>
		<%=link_to 'На главную', '/'%>
		<ul>
		<%@sections.each do |section|%>
			<li><%=link_to section.name, section%></li>
		<% end %>
		</ul>
	</div>
	
	<div class="right-column">
		<%= yield %>
	</div>
	
	</div>
</body>
</html>
